.connection_map {
  @include fill-parent;
  overflow-x: auto;
  h2 {
    font-size: 1em;
    font-weight: normal;
  }
  h3 {
    font-size: 0.8em;
    font-weight: normal;
  }
  table {
    border-collapse: separate;
  }
  .effect {
    font-size: 0.8em;
  }

  .node {
    vertical-align: top;
    border-bottom: 0;
    padding: 0;
  }
  .node__information {
    background-color: $color-nodes;
    position: relative;
    padding: 0;
    display: inline-block;
    height:100%;
    width: 100%;
    .pilots {
      display: none;
      &.active {
        display: block;
      }
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0;
      width: 20px;
      height: 20px;
      padding: 0;
      img {
        display: block;
        padding: 0;
      }
    }
    a {
      display: block;
      padding: 2px;
      color: inherit;
      h2 {
        color: tint($action-color, 25%);
      }
      &:active,
      &:focus,
      &:hover {
        h2 {
          color: $action-color;
        }
      }
    }
  }
  .node__information--hs { border: 2px solid $color-node-hs; }
  .node__information--ls { border: 2px solid $color-node-ls; }
  .node__information--ns { border: 2px solid $color-node-ns; }
  .node__information--c1,
  .node__information--c2,
  .node__information--c3,
  .node__information--c4,
  .node__information--c5,
  .node__information--c6,
  .node__information--c12,
  .node__information--c13 { border: 2px solid $color-node-wh; }
  .node__information---- { border: 2px solid $color-node-unknown; }

  .node--selected .node__information {
    background-color: $color-node-selected;
  }
  .google-visualization-orgchart-linebottom {
    border-bottom-width: 2px;
  }
  .google-visualization-orgchart-lineleft {
    border-left-width: 2px;
  }
  .google-visualization-orgchart-lineright {
    border-right-width: 2px;
  }

  .critical { border-color: #ff4747; }
  .critical-vertical {
    border-left-color: #ff4747;
    border-right-color: #ff4747;
  }
  .destab { border-color: #f5b544; }
  .destab-vertical {
    border-left-color: #f5b544;
    border-right-color: #f5b544;
  }
  .eol { border-style: dashed; }
  .eol-vertical {
    border-left-style: dashed;
    border-right-style: dashed;
  }
}
