.connection_map {
  @include fill-parent;
  h2 {
    font-size: 1em;
    font-weight: normal;
  }
  h3 {
    font-size: 0.9em;
    font-weight: normal;
  }
  .effect {
    font-size: 0.9em;
  }

  .node {
    vertical-align: top;
    border-bottom: 0;
    padding: 0;
  }
  .node__information {
    background-color: $color-nodes;
  }
  .node__information--hs {}
  .node__information--ls {}
  .node__information--ns {}

  .node--selected .node__information {
    background-color: $color-node-selected;
  }
}
