.connection_map {
  @include fill-parent;
  overflow-x: auto;
  h2 {
    font-size: 1em;
    font-weight: normal;
  }
  h3 {
    font-size: 0.8em;
    font-weight: normal;
  }
  table {
    border-collapse: separate;
    table-layout: auto;
  }
  .effect {
    font-size: 0.8em;
  }

  .node {
    vertical-align: top;
    border-bottom: 0;
    padding: 0;
    min-width: 5rem;
  }
  .node__information {
    background-color: $color-nodes;
    position: relative;
    padding: 0;
    display: inline-block;
    height:100%;
    width: 100%;
    .pilots {
      display: none;
      &.active {
        display: block;
      }
      cursor: pointer;
      position: absolute;
      right: -20px;
      top: 0;
      width: 20px;
      height: 20px;
      padding: 0;
      img {
        display: block;
        padding: 0;
      }
    }
    a {
      display: block;
      padding: 2px;
      color: inherit;
      height:100%;
      width: 100%;
      h2 {
        color: tint($action-color, 25%);
      }
      &:active,
      &:focus,
      &:hover {
        h2 {
          color: $action-color;
        }
      }
    }
  }
  .node__information--hs { border: 2px solid $color-node-hs; }
  .node__information--ls { border: 2px solid $color-node-ls; }
  .node__information--ns { border: 2px solid $color-node-ns; }
  .node__information--c1,
  .node__information--c2,
  .node__information--c3,
  .node__information--c4,
  .node__information--c5,
  .node__information--c6,
  .node__information--c12,
  .node__information--c13 { border: 2px solid $color-node-wh; }
  .node__information---- { border: 2px solid $color-node-unknown; }

  [data-status='eol']:hover,
  [data-status='eol destab']:hover,
  [data-status='eol critical']:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 1px, 0);
    }

    20%, 80% {
      transform: translate3d(2px, 2px, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-4px, 3px, 0);
    }

    40%, 60% {
      transform: translate3d(4px, 1px, 0);
    }
  }

  .node--selected .node__information {
    background-color: $color-node-selected;
    a {
      h3 {
        font-weight: bold;
        color: $color-background;
      }
      h2 {
        font-weight: bold;
        color: $color-background;
      }
    }
  }
  .google-visualization-orgchart-linebottom {
    border-bottom-width: 2px;
  }
  .google-visualization-orgchart-lineleft {
    border-left-width: 2px;
  }
  .google-visualization-orgchart-lineright {
    border-right-width: 2px;
  }

  .critical { border-color: $color-line-critial; }
  .critical-vertical {
    border-left-color: $color-line-critial;
    border-right-color: $color-line-critial;
  }
  .destab { border-color: $color-line-destab; }
  .destab-vertical {
    border-left-color: $color-line-destab;
    border-right-color: $color-line-destab;
  }
  .eol { border-style: dashed; }
  .eol-vertical {
    border-left-style: dashed;
    border-right-style: dashed;
  }
}
