.signatures {
  &--show {
  }
  td {
    padding: 0.25em 0;
  }
  .small {   width:  6%; }
  .medium {  width: 17%; }
  .group {   width: 12%; }
  .age {     width:  7%; }
  .life {    width: 10%; }
  .mass {    width: 15%; }
  .options { width:  7%; }
  .active_time,
  .time_to_die {
    text-align: right;
    font-family: 'Lucida Console', Monaco, monospace;
    padding-right: 1em;
    font-size: 0.9em;
  }
  .time_to_die {
    color: $color-error;
  }
  &__error {
    color: $color-error;
  }
}

.signatures--edit,
.signatures--new {
  dl {
    dt {
      @include span-columns(2);
      text-align: right;
    }
    dd {
      @include span-columns(10);
      @include omega;
    }
    .optional {}
    .hidden {
      display: none;
    }
  }
  .options {
    @include shift(2);
  }
}

.signatures--edit,
.signatures--new form {
  display: none;
}
