.signatures {
  .signatures--show {
  }
  td {
    padding: 0.25em 0;
  }
  .small {   width:  6%; }
  .medium {  width: 17%; }
  .life {    width: 10%; }
  .mass {    width: 15%; }
  .options { width:  7%; }
}

.signatures--edit {
  display: none;
  dl {
    dt {
      @include span-columns(2);
      text-align: right;
    }
    dd {
      @include span-columns(10);
      @include omega;
    }
  }
  .options {
    @include shift(2);
  }
}
