@import 'bourbon';
@import 'variables';
@import 'neat';
@import 'base/base';

@import 'components/*';

body {
  margin: 0;
  padding: 0;
  color: $color-body-copy;
  background-color: $color-background;
}

.container {
  @include outer-container;
}

header {
  padding-top: 1em;
  h1 {
    @include span-columns(3);
  }
  nav {
    @include span-columns(9);
  }
}

.row {
  @include row;
}
