@import 'bourbon';

$max-width: 960px;
@import 'neat';

@import 'base/base';

@import 'components/*';

.container {
  @include outer-container;
}

header {
  h1 {
    @include span-columns(3);
  }
  nav {
    @include span-columns(9);
  }
}

.small {
  width: 6%;
}
.medium {
  width: 17%;
}

.signatures {
  .signatures--show {

  }
  .signatures--edit {
    display: none;
  }
}
